@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet');
@font-face {
  font-family: Gotham;
  src: url(Banorte/fonts/GOTHAM-MEDIUM.ttf) format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Gotham light;
  src: url(Banorte/fonts/GOTHAM-LIGHT.ttf) format("ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: Gotham bold;
  src: url(Banorte/fonts/GOTHAM-BOLD.ttf) format("ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'banorte_ncr_icons_2regular';
  src: url("Banorte/fonts/banorte_ncr_icons_2_mac-webfont.woff2") format("woff2"), url("Banorte/fonts/banorte_ncr_icons_2_mac-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*Vars*/
.f20 {
  font-size: 20px !important; }

.f26 {
  font-size: 26px !important; }

.f23 {
  font-size: 23px !important; }

.f25 {
  font-size: 25px !important; }

.f30 {
  font-size: 30px !important; }

.f35 {
  font-size: 35px !important; }

.f45 {
  font-size: 45px !important; }

.f55 {
  font-size: 55px !important; }

.f40 {
  font-size: 40px !important; }

.f50 {
  font-size: 50px !important; }

.ls20 {
  letter-spacing: 20px !important; }

.fright {
  float: right; }

.fleft {
  float: left; }

.fixed {
  position: fixed !important;
  z-index: 2; }

.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

.d-grid {
  display: grid !important; }

.align-items-center {
  display: flex !important;
  align-items: center !important; }

.d-inline {
  display: inline !important; }

.d-inline-flex {
  display: inline-flex; }

.overflowS {
  overflow: auto !important; }

.justify-center {
  display: flex;
  justify-content: center; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.h0 {
  height: 0px !important; }

.h6 {
  height: 6px !important; }

.h60 {
  height: 60px; }

.h93 {
  height: 93px !important; }

.h30vh {
  height: 30vh; }

.w5 {
  width: 5% !important; }

.w10 {
  width: 10% !important; }

.w20 {
  width: 20% !important; }

.w30 {
  width: 30% !important; }

.w40 {
  width: 40% !important; }

.w52P {
  width: 52% !important; }

.w57P {
  width: 57% !important; }

.w60 {
  width: 60% !important; }

.w45 {
  width: 45% !important; }

.w80 {
  width: 80%; }

.w100 {
  width: 100%; }

.lnhe17 {
  line-height: 17px; }

.center-align {
  text-align: center !important; }

/*PADDING*/
.p0 {
  padding: 0px !important; }

.p4 {
  padding: 4px !important; }

.p5 {
  padding: 5px !important; }

.p7 {
  padding: 7px !important; }

.p10 {
  padding: 10px !important; }

.p15 {
  padding: 15px !important; }

.p20 {
  padding: 20px !important; }

.p25 {
  padding: 25px !important; }

.p30 {
  padding: 30px !important; }

.p35 {
  padding: 35px !important; }

.p40 {
  padding: 40px !important; }

.p45 {
  padding: 45px !important; }

.p50 {
  padding: 50px !important; }

/*PADDING LEFT*/
.pl0 {
  padding-left: 0px !important; }

.pl5 {
  padding-left: 5px !important; }

.pl10 {
  padding-left: 10px !important; }

.pl15 {
  padding-left: 15px !important; }

.pl20 {
  padding-left: 20px !important; }

.pl25 {
  padding-left: 25px !important; }

.pl30 {
  padding-left: 30px !important; }

.pl35 {
  padding-left: 35px !important; }

.pl40 {
  padding-left: 40px !important; }

.pl45 {
  padding-left: 45px !important; }

.pl50 {
  padding-left: 50px !important; }

.pl80 {
  padding-left: 80px !important; }

.pl17p {
  padding-left: 17% !important; }

/*PADDING RIGHT*/
.pr0 {
  padding-right: 0px !important; }

.pr5 {
  padding-right: 5px !important; }

.pr10 {
  padding-right: 10px !important; }

.pr15 {
  padding-right: 15px !important; }

.pr20 {
  padding-right: 20px !important; }

.pr25 {
  padding-right: 25px !important; }

.pr30 {
  padding-right: 30px !important; }

.pr35 {
  padding-right: 35px !important; }

.pr40 {
  padding-right: 40px !important; }

.pr45 {
  padding-right: 45px !important; }

.pr50 {
  padding-right: 50px !important; }

.pr17p {
  padding-right: 17% !important; }

/*PADDING TOP*/
.pt0 {
  padding-top: 0px !important; }

.pt5 {
  padding-top: 5px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt15 {
  padding-top: 15px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt25 {
  padding-top: 25px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt35 {
  padding-top: 35px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt45 {
  padding-top: 45px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt65 {
  padding-top: 65px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt94 {
  padding-top: 94px !important; }

.pt12rem {
  padding-top: 170px !important; }

.pt165 {
  padding-top: 180px; }

.pt180 {
  padding-top: 180px; }

/*PADDING BOTTOM*/
.pb0 {
  padding-bottom: 0px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.mauto {
  margin: auto !important; }

/*MARGIN*/
.m0 {
  margin: 0px !important; }

.m5 {
  margin: 5px !important; }

.m7 {
  margin: 7% !important; }

.m10 {
  margin: 10px !important; }

.m15 {
  margin: 15px !important; }

.m20 {
  margin: 20px !important; }

.m25 {
  margin: 25px !important; }

.m30 {
  margin: 30px !important; }

.m35 {
  margin: 35px !important; }

.m40 {
  margin: 40px !important; }

.m45 {
  margin: 45px !important; }

.m50 {
  margin: 50px !important; }

/*MARGIN LEFT*/
.ml0 {
  margin-left: 0px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml45 {
  margin-left: 45px !important; }

.ml50 {
  margin-left: 50px !important; }

/*MARGIN RIGHT*/
.mr0 {
  margin-right: 0px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr35 {
  margin-right: 35px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr45 {
  margin-right: 45px !important; }

.mr50 {
  margin-right: 50px !important; }

/*MARGIN TOP*/
.mt0 {
  margin-top: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt18 {
  margin-top: 18px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt55 {
  margin-top: 55px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt165 {
  margin-top: 47% !important; }

.mt12rem {
  margin-top: 12rem; }

/*MARGIN BOTTOM*/
.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.fade {
  animation: txtintro 0.8s; }

@keyframes cambiopleca {
  0% {
    height: 94px;
    width: 100%;
    margin: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0);
    border-radius: 0px; }
  30% {
    height: 94px;
    width: 100%;
    margin: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0);
    border-radius: 0px; }
  100% {
    height: 76px;
    width: 76px;
    margin: 8px;
    border-radius: 50px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); } }

@keyframes ajustefondo {
  0% {
    background-position-x: 0px;
    background-position-y: 0px; }
  30% {
    background-position-x: 0px;
    background-position-y: 0px; }
  100% {
    background-position-x: -8px;
    background-position-y: -8px; } }

@keyframes cambioplecasalida {
  0% {
    height: 76px;
    width: 76px;
    margin: 8px;
    border-radius: 50px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); }
  30% {
    height: 76px;
    width: 76px;
    margin: 8px;
    border-radius: 50px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); }
  100% {
    height: 94px;
    width: 100%;
    margin: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0);
    border-radius: 0px; } }

@keyframes ajustefondosalida {
  0% {
    background-position-x: -8px;
    background-position-y: -8px; }
  30% {
    background-position-x: -8px;
    background-position-y: -8px; }
  100% {
    background-position-x: 0px;
    background-position-y: 0px; } }

@keyframes cambiologo {
  0% {
    background-image: url(../imagenes/banorte-logofull.svg); }
  30% {
    background-image: url(../imagenes/banorte-logofull.svg); }
  100% {
    background-image: url(../imagenes/banorte-logoreduced.svg); } }

@keyframes cambiologosalida {
  0% {
    background-image: url(../imagenes/banorte-logoreduced.svg); }
  30% {
    background-image: url(../imagenes/banorte-logoreduced.svg); }
  100% {
    background-image: url(../imagenes/banorte-logofull.svg); } }

@keyframes iconintro {
  0% {
    transform: translate(-150px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes btnintro {
  0% {
    width: 0px; }
  40% {
    width: 0px; }
  100% {
    width: 304px; } }

@keyframes iconintroder {
  0% {
    transform: translate(1800px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes btnintroder {
  0% {
    width: 0px; }
  40% {
    width: 0px; }
  100% {
    width: 304px; } }

@keyframes btnintrosaldo {
  0% {
    width: 0px;
    border: 1px solid rgba(255, 166, 0, 0) !important; }
  40% {
    border: 1px solid rgba(255, 166, 0, 0) !important;
    width: 0px; }
  100% {
    width: 304px; } }

@keyframes txtintro {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

button {
  border: none !important;
  cursor: pointer; }

button:focus {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  outline: none; }

.cuerpo {
  min-height: 100%;
  background-image: url(../imagenes/fondo2.jpg);
  background-size: contain;
  /* margin: 100px auto; */ }

.red {
  background-color: #eb0029; }

.redfont {
  color: #eb0029 !important; }

.orange {
  background-color: #ff671b; }

.pink {
  background-color: #b01657; }

.yellow {
  background-color: #ffa400; }

.gray {
  background-color: #4e4044; }

/* FORMATO TEXTOS */
.tpadding {
  margin-left: 70px;
  margin-top: 70px; }

.tlight {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  font-weight: 200;
  color: #3b3033; }

.tbold {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #eb0029; }

.tboldBlack {
  font-family: "Roboto", sans-serif;
  font-size: 67px;
  font-weight: bold;
  color: #614f4d; }

.notifdinerotext {
  font-family: Gotham;
  font-size: 10px;
  font-weight: 500;
  color: #999999;
  float: left;
  text-align: center; }

.notifdinerovaciotext {
  font-family: Gotham;
  font-size: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  padding: 1px 1px 0; }

.btntext1 {
  font-family: Gotham;
  font-size: 21px;
  font-weight: 500;
  color: #3b3033;
  margin: 0;
  margin-left: 30px;
  float: left; }

.btntext2 {
  font-family: Gotham;
  font-size: 21px;
  font-weight: 500;
  color: #3b3033;
  float: right;
  text-align: right;
  margin: 0; }

.btntextsaldo {
  font-family: Gotham;
  font-size: 28px;
  font-weight: 500;
  color: #3b3033;
  float: left;
  position: absolute;
  padding-left: 95px;
  visibility: visible;
  margin: 0;
  margin-top: 7px; }

.btntextlight {
  font-weight: 300; }

.btntextfc {
  font-family: Gotham;
  font-size: 33px;
  font-weight: 500;
  color: #3b3033;
  margin-right: 30px;
  margin-top: 30px;
  float: right;
  margin: 0; }

.hourtext {
  font-family: Roboto;
  font-size: 27px;
  font-weight: 200;
  color: #ffffff; }

/* PLECA E ICONOS DE NOTIFICACION */
.barra {
  height: 94px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.05)); }

.plecaroja {
  height: 94px;
  width: 100%;
  background-image: url(../imagenes/logobanorte-fondo.svg);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  position: absolute;
  z-index: 10; }

.plecarojaanim,
.plecarojacircle {
  height: 76px;
  width: 76px;
  margin: 8px;
  background-size: 1280px 94px;
  background-position-x: -8px;
  background-position-y: -8px;
  border-radius: 50px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  position: absolute;
  z-index: 10;
  overflow: hidden; }

.plecarojaanimsalida {
  height: 94px;
  width: 100%;
  margin: 0px;
  background-size: 1280px 94px;
  background-position-x: -8px;
  background-position-y: -8px;
  border-radius: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 10;
  overflow: hidden; }

.plecarojaanim {
  animation: cambiopleca 0.8s; }

.plecarojaanim .plecaroja {
  animation: ajustefondo 0.8s; }

.plecarojaanim .plecaroja,
.plecarojacircle .plecaroja {
  background-position-x: -8px;
  background-position-y: -8px; }

.plecarojaanimsalida {
  animation: cambioplecasalida 0.8s; }

.plecarojaanimsalida .plecaroja {
  animation: ajustefondosalida 0.8s; }

.banortelogofull,
.banortelogocambio,
.banortelogosmall,
.banortelogocambiosalida {
  height: 94px;
  width: 322px;
  background-repeat: no-repeat;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11; }

.banortelogofull,
.banortelogocambiosalida {
  background-image: url(../imagenes/banorte-logofull.svg); }

.banortelogosmall,
.banortelogocambio {
  background-image: url(../imagenes/banorte-logoreduced.svg); }

.banortelogocambio {
  animation: cambiologo 0.8s; }

.banortelogocambiosalida {
  animation: cambiologosalida 0.8s; }

.cajanotifsfull {
  width: 310px;
  height: 94px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 30; }

.cajanotifdinero {
  width: 94px;
  height: 48px;
  text-align: center;
  float: left;
  padding-top: 5px; }

.notifdinero {
  width: 42px;
  height: 19px;
  background-color: white;
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center; }

.notifdinerovacio {
  width: 40px;
  height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center; }

.impresora,
impresoravacia {
  font-size: 34px;
  color: #fff;
  margin-left: 10px; }

.impresoravacia {
  opacity: 0.5; }

.slash {
  width: 25px;
  height: 44px;
  background-size: contain;
  float: left;
  margin-right: 5px; }

/* BOTONES Y CONTENEDORES */
.allbuttons {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 11;
  bottom: 0;
  padding: 16px;
  padding-bottom: 5px; }

.botonera {
  width: 100%;
  height: 7.187em; }

.btniconleft {
  height: 93px;
  width: 76px;
  border-radius: 22px 0 0 22px;
  float: left; }

.btniconright {
  height: 93px;
  width: 76px;
  border-radius: 0 22px 22px 0;
  float: right; }

.btnizq {
  width: 19em;
  height: 5.8125em;
  border-radius: 22px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  float: left;
  border: none;
  padding: 0;
  text-align: left;
  display: flex;
  align-items: center; }

.btnder {
  width: 19em;
  height: 5.8125em;
  border-radius: 22px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  float: right;
  margin-top: 0;
  border: none;
  padding: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

/* .btnsmall {
  width: 300px !important;
}

.btnbig {
  width: 450px !important;
} */
.btniconleft img,
.btniconright img {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.55); }

.btnsaldo {
  width: 470px;
  height: 93px;
  border-radius: 22px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  float: left;
  padding: 0;
  text-align: left;
  border: 1px solid #ffa400 !important;
  transition: 0.4s;
  -webkit-transition: 0.4s; }

.btnsaldoActive {
  width: 380px;
  border-radius: 22px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  float: left;
  border: none;
  padding: 0;
  text-align: left;
  border: 1px solid rgba(255, 166, 0, 0) !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  outline: none; }

.activeBalance {
  width: 304px !important; }

.btniconsaldo {
  width: 95px;
  height: 116px;
  border-radius: 22px 0 0 22px;
  float: left;
  visibility: hidden;
  margin: -1px 0 0 -1px; }

.btniconocultarsaldo {
  width: 76px;
  height: 93px;
  border-radius: 22px 0 0 22px;
  float: left;
  visibility: visible;
  margin: -1px 0 0 -1px; }

.btnsaldoActive .btniconsaldo {
  width: 95px;
  height: 116px;
  border-radius: 22px 0 0 22px;
  float: left;
  visibility: visible; }

.btnsaldoActive .btniconocultarsaldo {
  margin-left: -95px;
  width: 95px;
  height: 116px;
  border-radius: 22px 0 0 22px;
  float: left;
  visibility: hidden; }

.btnsaldoActive .btntextsaldo {
  visibility: hidden;
  float: left;
  opacity: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s; }

.btnsaldoActive .btntext1 {
  visibility: visible;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  opacity: 100; }

.btnsaldo .btntext1 {
  visibility: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  opacity: 0; }

.btniconleft,
.btniconocultarsaldo {
  animation: iconintro 0.8s; }

.btnizq {
  animation: btnintro 0.8s; }

.btnsaldo {
  animation: btnintrosaldo 1.1s; }

.btntext1,
.btntextsaldo,
.btntext2,
.btntextfc {
  animation: txtintro 1.5s; }

.tpadding {
  animation: txtintro 0.8s; }

.btniconright {
  animation: iconintroder 0.8s; }

.btnder {
  animation: btnintroder 0.8s; }

.container-nip {
  max-width: 450px;
  background: #fff;
  border-radius: 60px 0px 0px 60px;
  padding: 9px;
  display: flex;
  align-items: center; }

.container-amount {
  max-width: 550px;
  background: #fff;
  border-radius: 60px 0px 0px 60px;
  padding: 9px;
  display: flex;
  align-items: center; }

.nip {
  font-size: 34px;
  color: black;
  border: none;
  letter-spacing: 8px;
  border-radius: 0px 60px 60px 0px;
  padding: 15px 0px;
  text-align: center; }

.captureReference {
  width: 495px;
  font-size: 34px;
  color: black;
  border: none;
  letter-spacing: 8px;
  border-radius: 0px 60px 60px 0px;
  padding: 15px 0px;
  text-align: center; }

.cash-S {
  font-size: 55px;
  color: #3b3033;
  border: none;
  letter-spacing: 8px;
  border-radius: 0px 60px 60px 0px;
  text-align: center;
  width: 370px;
  text-align: right;
  padding-right: 35px;
  max-width: 370px; }

.input-nip {
  display: flex;
  justify-content: center; }

.indication {
  padding: 9px 34px;
  border: 1px solid gray;
  border-radius: 23px;
  color: gray;
  font-family: Gotham;
  font-size: 15px; }

.cash {
  font-size: 55px;
  color: #614f4d;
  border: none;
  width: 39%;
  letter-spacing: 3px; }

.borderB {
  border-bottom: 1px solid;
  border-color: #614f4d; }

.fIcons {
  font-family: "banorte_ncr_icons_2regular"; }

.success {
  background-image: linear-gradient(#39b6ac 0%, #72b84c 100%);
  font-size: 70px;
  padding: 19px;
  border-radius: 49px;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
  .success span {
    text-shadow: 3px 3px 14px #00000099; }

.iconButons {
  font-size: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.block {
  height: 75px;
  width: 81%;
  background: #d6d6d6;
  position: absolute;
  bottom: 46px;
  z-index: -1;
  left: 0; }

.textizq {
  height: 93px;
  border-radius: 22px;
  float: left;
  border: none;
  padding: 0;
  text-align: left;
  display: flex;
  align-items: center; }

.targetConfirm {
  max-width: 400px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border: none;
  text-align: center;
  display: inline-block;
  min-width: 310px;
  margin-top: 30px; }
  .targetConfirm div {
    display: grid;
    padding: 10px; }
  .targetConfirm .border {
    border-bottom: 1px solid;
    border-color: #d6d6d6; }
    .targetConfirm .border p {
      margin: 0;
      font-weight: lighter;
      color: #a1a1a1; }
    .targetConfirm .border i {
      font-weight: bold;
      color: #614f4d; }

.indication-middle {
  height: 93px;
  border-radius: 22px;
  float: none;
  margin-top: 0;
  border: none;
  padding: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center; }

.ticket20 {
  width: 133px;
  background-image: linear-gradient(#2f98cd 0%, #b9e7ff 100%);
  height: 185px;
  position: relative;
  margin-right: 20px; }

.ticket50 {
  width: 133px;
  background-image: linear-gradient(#bf94b3 0%, #ffb8d6 100%);
  height: 185px;
  position: relative;
  margin-right: 20px; }

.ticket100 {
  width: 133px;
  background-image: linear-gradient(#ad4d63 0%, #e696aa 100%);
  height: 185px;
  position: relative;
  margin-right: 20px; }

.ticket200 {
  width: 133px;
  background-image: linear-gradient(#4e8a4d 0%, #b4dbac 100%);
  height: 185px;
  position: relative;
  margin-right: 20px; }

.ticket500 {
  width: 133px;
  background-image: linear-gradient(#c49a7e 0%, #e6d1c4 100%);
  height: 185px;
  position: relative;
  margin-right: 20px; }

.ticket1000 {
  width: 133px;
  background-image: linear-gradient(#dd9eff 0%, #e2c4e8 100%);
  height: 185px;
  position: relative;
  margin-right: 20px; }

.badge {
  background: #fff;
  width: 28px;
  height: 28px;
  border-radius: 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 20px;
  color: #614f4d;
  position: absolute;
  bottom: -12px;
  right: 42%; }

.deposit {
  width: 304px;
  height: 93px;
  border-radius: 22px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border: none;
  padding: 0;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center; }
  .deposit .text {
    font-family: Gotham;
    font-size: 21px;
    font-weight: 500;
    color: #3b3033; }

.quantity {
  color: #fff;
  font-size: 37px;
  height: 44px;
  margin-left: 10px; }

.name {
  color: #fff;
  font-size: 11px;
  font-weight: lighter;
  margin-left: 10px; }

.logo-ticket {
  font-size: 96px;
  color: #fff;
  text-align: center;
  height: 89px;
  text-align: center;
  line-height: .9; }

.btntextespecial {
  font-family: Gotham;
  font-size: 21px;
  font-weight: 500;
  color: #3b3033;
  margin: 0;
  margin-left: 30px;
  float: left;
  text-align: left;
  display: flex;
  position: relative;
  padding: 0; }

.rotate {
  transform: rotate(30deg); }

.logo-header {
  position: absolute;
  left: 0;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  padding-top: 19px;
  padding-left: 20px; }

#bnte-carousel {
  margin-bottom: 1rem; }
  #bnte-carousel ul {
    height: 370px;
    background-color: #fff;
    margin: 0 auto; }
  #bnte-carousel .step-content {
    display: table;
    width: 100%; }
    #bnte-carousel .step-content .step-number, #bnte-carousel .step-content .step-text {
      display: table-cell;
      vertical-align: middle; }
    #bnte-carousel .step-content .step-number {
      padding-right: .5rem;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      max-width: 100px; }
      #bnte-carousel .step-content .step-number img {
        height: 80px;
        width: auto; }
    #bnte-carousel .step-content .step-text {
      padding-left: .5rem;
      text-align: left; }
      #bnte-carousel .step-content .step-text h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400; }
      #bnte-carousel .step-content .step-text p {
        margin: 0;
        font-weight: 400; }

.overflowS {
  overflow: auto; }

.step-adition {
  display: grid;
  width: 40%;
  float: right; }
  .step-adition .light {
    font-weight: 100; }

.step-img {
  text-align: center; }

.name-concept {
  display: inline-grid;
  text-align: left; }
  .name-concept span {
    font-weight: 100; }

.icon-concept {
  color: #eb0029;
  font-size: 40px;
  margin-right: 15px; }

.indication2 {
  height: 5.8125em;
  border-radius: 22px;
  float: left;
  border: none;
  padding: 0;
  text-align: left;
  display: flex;
  align-items: center;
  background: none; }

.text-pricing {
  display: flex !important;
  align-items: baseline;
  font-weight: lighter;
  letter-spacing: 2px; }

.targetPricing {
  max-width: 400px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border: none;
  text-align: center;
  display: inline-block;
  min-width: 310px;
  margin-top: 30px;
  padding: 10 15;
  justify-content: center; }

.restrictions {
  width: 40em;
  background-color: #d6d6d6;
  margin-top: 0;
  border: none;
  padding: 13px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  float: left;
  -ms-grid-row: 2; }

.textizqEspecial {
  height: 93px;
  border-radius: 22px;
  float: left;
  border: none;
  padding: 0;
  text-align: left;
  display: flex;
  align-items: center;
  -ms-grid-row: 1; }

.containerRest {
  position: absolute;
  display: inline-grid;
  bottom: 0;
  display: -ms-inline-grid; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

body {
  background-image: url(../imagenes/ade.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif; }

.navbar {
  height: 94px;
  width: 100%;
  background-image: url(../imagenes/logobanorte-fondo.svg);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  position: absolute;
  z-index: 10;
  background-repeat: repeat-x;
  background-position: 50% 50%;
  background-size: 54px 94px; }

.content-plain {
  width: 100%;
  padding: 10px; }

.slide {
  background-image: url(../imagenes/sliderGIF.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
  width: 100%;
  height: 370px; }

.text-light {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic; }

.text-bold {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #eb0029; }

.temporal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.text-promo {
  line-height: 1.2; }

.relative {
  position: relative; }

.security {
  position: absolute;
  top: -72px; }

.point {
  font-size: 30px;
  background: #c33873;
  border-radius: 29px;
  padding: 8px 10px;
  color: #fff;
  margin-right: 10px; }

.point-text {
  font-size: 20px;
  color: #614f4d; }

.content-point {
  margin-top: 40px; }
  .content-point .row {
    margin-bottom: 30px; }
    .content-point .row .col-sm-12 {
      padding-left: 30px; }

ul[rn-carousel] > li {
  background: #ffffff !important;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%, #eaeaea 100%) !important;
  background: -o-linear-gradient(#ffffff 0%, #eaeaea 100%) !important;
  background: linear-gradient(#ffffff 0%, #eaeaea 100%) !important;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */ }

input {
  outline: none !important; }

/*# sourceMappingURL=maps/style.css.map */
